<details>
    <summary>관련 포스트</summary>
    <ul>
    {% assign posts = site.posts | sort: 'date' | reverse %}
    {% for post in posts %}
        {% assign this_category = page.categories[0] %}
        {% assign this_sub_category = page.categories[1] %}
        {% assign post_category = post.categories[0] %}
        {% assign post_sub_category = post.categories[1] %}
        <!-- 메인, 서브 카테고리가 모두 일치하는 경우 -->
        {% 
            if 
                this_category == post_category 
                    and 
                this_sub_category == post_sub_category 
        %}
        <!-- 메인 카테고리만 일치하는 경우 -->
        {%
            elsif this_category == post_category
        %}
        <!-- 메인 카테고리, 서브 카테고리가 일치하는 경우 -->
        {%
            elsif 
                this_category == post_sub_category
                    and
                this_sub_category == post_category
        %}
            <!-- 해당 게시글은 제외 -->
            {% unless post.title == page.title %}
                <li>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
            {% endunless %}
        {% endif %}
    {% endfor %}
    </ul>
</details>