<details>
    <summary>관련 포스트</summary>
    <ul>
    {% assign posts = site.posts | sort: 'last_modified_at' | reverse %}    
    {% assign this_category = page.categories[0] %}
    {% assign this_sub_category = page.categories[1] %}
    
    <div>
        카테고리: <a href="https://www.google.co.kr/search?q={{ this_category }}">{{ this_category }}</a>     
        {% unless this_sub_category == nil %}
            , <a href="https://www.google.co.kr/search?q={{ this_sub_category }}">{{ this_sub_category }}</a> 
        {% endunless %}
    </div>

    {% for post in posts %}
        {% assign post_category = post.categories[0] %}
        {% assign post_sub_category = post.categories[1] %}
        <!-- 메인, 서브 카테고리가 모두 일치하는 경우 -->
        {% 
            if 
                this_category == post_category 
                    and 
                this_sub_category == post_sub_category
        %}
            {% include post_internal_link.html %}
        <!-- 메인 카테고리만 일치하는 경우 -->
        {%
            elsif this_category == post_category
        %}
            {% include post_internal_link.html %}
        <!-- 메인 카테고리, 서브 카테고리가 일치하는 경우 -->
        {%
            elsif 
                this_category == post_sub_category
                    and
                this_sub_category == post_category
        %}
            {% include post_internal_link.html %}
        {% endif %}
    {% endfor %}
    </ul>
</details>