{% assign hasAnyPost = 0 %}
{% assign posts = site.posts | sort: 'last_updated_at' | reverse %}
{% for post in posts %}
    {% assign post_category = post.categories[0] %}
    {% assign post_sub_category = post.categories[1] %}
    <!-- 메인, 서브 카테고리가 모두 일치하는 경우 -->
    {% if 
        this_category == post_category and 
        this_sub_category == post_sub_category
    %}
        {% unless 
            this_category == nil or 
            post_category == nil
        %}
            {% unless 
                this_sub_category == nil or
                post_sub_category == nil
            %}
                {% assign hasAnyPost = 1 %}
            {% endunless %}
        {% endunless %}
    <!-- 메인 카테고리만 일치하는 경우 -->
    {% elsif this_category == post_category %}
        {% unless 
            this_category == nil or
            post_category == nil 
        %}
            {% assign hasAnyPost = 1 %}
        {% endunless %}
    <!-- 메인 카테고리, 서브 카테고리가 일치하는 경우 -->
    {% elsif 
        this_category == post_sub_category and
        this_sub_category == post_category
    %}
        {% unless 
            this_sub_category == nil or
            post_category == nil 
        %}
            {% unless 
                this_category == nil or
                post_sub_category == nil    
            %}
                {% assign hasAnyPost = 1 %}
            {% endunless %}
        {% endunless %}
    <!-- 서브 카테고리만 동일한 경우 -->
    {% elsif this_sub_category == post_sub_category %}
        {% unless 
            this_sub_category == nil or
            post_sub_category == nil
        %}
            {% assign hasAnyPost = 1 %}
        {% endunless %}
    {% endif %}
{% endfor %}